/* css for navbar*/
.nav {
    display: flex;
    justify-content: flex-end;
    margin: 0.25em;
    /*border-bottom: #00458B solid;*/
  }
  .nav a {
    text-decoration: none;
    font-size: 1.5625em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #17252A;
    margin: 0.9375em 1.5em 0.9375em 1.5em;
  }
  
  .nav a:hover {
    color: #2B7A78;
    transition-duration: 0.5s;
  } 
  

  
  /* hompage css*/
  body {
    background-color: #3AAFA9;
  }

  .row {
    display: flex;
    padding: 0 2.125em;
  }

  .column {
    width: 50%;
    text-align: center;
    padding: 0 3em;
  }
  
  .page-title {
    display: flex;
    width: 50%;
    text-align: center;
    margin-top: 1em;
    padding-left: 2.125em;
    font-size: 2.25em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #17252A;
  }
  
  .column p {
    color: #DEF2F1;
    text-align: center;
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  #resume {
    background-color: #17252A;
    margin: 0.5em 0.5em;
    padding: 0.5em 0.625em;
    font-size: 0.9375em;
    border: 0.135em solid #17252A;
    border-radius: 1.25em;
    cursor: pointer;
    box-shadow: 0.625em  0.3125em  0.3125em #2B7A78;
  }
  
  #resume a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    color: #DEF2F1;
  }

  #resume a:hover{
    text-decoration: none;
    color: #DEF2F1;
  }

  #resume:hover {
    /*background-color: #2B7A78;*/
    opacity: 0.6;
    transition-duration: 0.4s;
  }
  .bio-picture {
    border-radius: 5%;
    height: 30em;
    width: 30em;
    box-shadow: 0.9375em 0.9375em 0.46875em #2B7A78;
    margin-top: 0.65em;
  }


  /* begining of css for "Resume" page */
  .resume-title {
    display: flex;
    width: 50%;
    padding-left: 3.125em;
    margin-top: 2em;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 1.625em;
    font-weight: 700;
  }

  .resume-row {
    display: flex;
    padding: 0 2.125em;
  }

  .resume-column {
    width: 50%;
    padding: 0 3em;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #17252A;
  }

  .resume-column em {
    color: #17252A;
  }
  .contact {
    list-style-type: none;
  }
  .contact i {
    color: #DEF2F1;
    padding-right: 0.5em;
  }

  .resume-column h2 {
    font-size: 2em;
  }

  .resume-column h3 {
    font-size: 1.50em;
  }

  .resume-column h4 {
    font-size: 1.25em;
  }

  .resume-column p {
    color: #DEF2F1;
    font-size: 1.15em;
    font-weight: 300;
  }
  .resume-column li {
    color: #DEF2F1;
    font-size: 1.15em;
    font-weight: 300;
  }
  

  /*css for contact page*/
  .contact-row {
    display: flex;
    padding: 0 2.125em;
  }

  .contact-column {
    width: 50%;
    padding: 0 3em;
  } 

  .contact-title {
    color: #17252A;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    font-style: italic;
    margin-top: 2em;
  }
  
  .contact-column p {
    font-family: 'Roboto', sans-serif;
    color: #DEF2F1;
    font-size: 1.15em;
    font-weight: 300;
    margin-bottom: 2em;
  }

  .elem-group label {
    color: #17252A;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.50em;
  }
  .elem-group input, textarea {
    margin: 1.5em auto;
    color: #17252A;
    font-family: 'Roboto', sans-serif;
    
  }

  #submit {
    color: #DEF2F1;
    background-color: #17252A;
    margin: 0.5em 0.5em;
    padding: 0.5em 0.625em;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 0.9375em;
    border: 0.135em solid #17252A;
    border-radius: 1.25em;
    cursor: pointer;
    box-shadow: 0.625em  0.3125em  0.3125em #2B7A78;
  }

  #submit:hover {
    background-color: #2B7A78;
    transition-duration: 0.4s;
  }

  /*css for footer*/
  .social-links {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .social-links ul {
    display: flex;
    justify-content: center;
  }
  .social-links ul li {
    display: inline;
    vertical-align: top;
    margin-right: 1em;
    font-size: 1.875em;
    padding: 0.65em;
    text-decoration: none;
  }
  .social-links i {
    color: #17252A;
  }
   .social-links li:hover {
    background-color: #DEF2F1;
    transition-duration: 0.5s;
    border-radius: 50%
  }